
#container {
  text-decoration: none;
  padding: 0;
  margin: 0;
  height: 600px;
  opacity: 0.9;
  background: url(../../../assets/MorexBuilding2.jpg) no-repeat
    center center/cover;
    /* "https://source.unsplash.com/1600x900/?welding" */
}

#container .primary-text {
  color: hsl(0, 0%, 96%);
  text-align: center;
  padding-top: 170px;
}
#container .primary-text h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  line-height: 1.2em;
  padding-bottom: 20px;
}




#home-info{
  height: 400px;
}

#home-info .info-img{
  float: left;
  width: 50%;
  background: url(../../../assets/MosheAndNisimOnGasPipeLine.jpg) no-repeat center center/cover ;
  min-height: 100%;

}

#home-info .info-content{
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  /* padding: 0 0; */
  overflow: hidden;

}

#home-info .info-content p{
  padding: 30px;
}

.box{
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.box a{
  text-decoration: none;
}

.bg-primary{
  background: #f7dc6f;
  color: #333;
}
.lead{
  font-size: 18px;
  padding-bottom: 20px;
  line-height: 1.7em;
  color: #f7dc6f;
  }

  .mybtn {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 2px;

  }
  .btn-light{
    background: #f4f4f4;
    color: #333;
  }
  .mybtn:hover{
    color: #f7dc6f;
    background: #444;
  }

  @media screen and (max-width: 768px) {
    .box{
      float: none;
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      text-align: center;
      height: 100%;
    }
  }
