<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
  </head>
  <body>










    <section>
      <div class="services-container">
        <div class="service" id="rt">
          <h3 class="primary-leter">Radiograpy Test (RT)</h3>
          <p>
            RT inspection is Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Rem quis aliquam voluptas nemo temporibus omnis numquam, amet
            natus repellat quod!
          </p>
          <!-- <div id="service1-img"></div>
          <div id="service2-img"></div> -->
        </div>
        <div class="service" id="ut">
          <h3 class="primary-leter">Ultrasonic Test (UT)</h3>
          <p>
            UT inspection is Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Rem quis aliquam voluptas nemo temporibus omnis numquam, amet
            natus repellat quod!
          </p>
          <!-- <div id="service1-img"></div>
          <div id="service2-img"></div> -->
        </div>

      </div>
    </section>
  </body>
</html>
