/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: ;
}
/* SF Rounded */


.primary-leter {
  color: #f7dc6f;
}
.btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;

}
.btn-light{
  background: #f4f4f4;
  color: #333;
}
.btn:hover{
  color: #f7dc6f;
  background: #444;
}


.bg-dark{
  background: #333;
  color: #fff;
}
.bg-light{
  background: #f4f4f4;
  color: #333;
}
.bg-primary{
  background: #f7dc6f;
  color: #333;
}
p{
  margin: 10px;
}
