<!DOCTYPE html>
<html lang="en">
<head>
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="branches">
    <div class="box bg-light">
      <i class="fas fa-home"></i>
      <h3>North Branch</h3>
      <p>
        <a
          href="https://www.google.co.il/maps/place/%D7%97%D7%A8%D7%95%D7%A9%D7%AA+22,+%D7%A7%D7%A8%D7%99%D7%99%D7%AA+%D7%91%D7%99%D7%90%D7%9C%D7%99%D7%A7%E2%80%AD/@32.8626496,35.1002056,17z/data=!3m1!4b1!4m2!3m1!1s0x151db640c5b888db:0xcf8d186b2006d1ed"
          target="_blank"
          ><span class="glyphicon glyphicon-map-marker"></span> 22 Hecharoshet
          st Kiryat Biyalik</a
        >
        P.O.B 1478 Zip 27104
      </p>
      <p>
        <a href="tel:+972-4-8765663"
          ><span class="glyphicon glyphicon-earphone"></span> 04-8765663</a
        >
      </p>
      <p>Fax: <span>09-8997660</span></p>
      <p>
        <a href="mailto:ynonoz@gmail.com"
          ><span class="glyphicon glyphicon-envelope"></span>
          ynonoz@gmail.com</a
        >
      </p>
      <p><a href="https://wa.me/972541234567" target="_blank">WhatsApp</a></p>
    </div>
    <div class="box bg-primary">
      <i class="fas fa-home"></i>
      <h3>Main Branch</h3>
      <p>
        <a
          href="https://www.google.co.il/maps/place/%D7%94%D7%90%D7%9C%D7%94,+%D7%90%D7%91%D7%9F+%D7%99%D7%94%D7%95%D7%93%D7%94%E2%80%AD/@32.2794199,34.893076,17z/data=!3m1!4b1!4m2!3m1!1s0x151d3fa7aaa8c4ab:0xdf4629af47ebb588"
          target="_blank"
          ><span class="glyphicon glyphicon-map-marker"></span> 25 Ha'Ela st
          Even Yehuda</a
        >
        P.O.B 145 Zip 40500
      </p>
      <p>
        <a href="tel:+972-9-8997660"
          ><span class="glyphicon glyphicon-earphone"></span> 09-8997660</a
        >
      </p>
      <p>Fax: <span>09-8997660</span></p>
      <p>
        <a href="mailto:ynonoz@gmail.com">
          <span class="glyphicon glyphicon-envelope"></span>
          ynonoz@gmail.com</a
        >
      </p>
      <p><a href="https://wa.me/972541234567" target="_blank">WhatsApp</a></p>
    </div>
    <div class="box bg-light">
      <i class="fas fa-home"></i>
      <h3>South Branch</h3>
      <p>
        <a
          href="https://www.google.co.il/maps/place/%D7%94%D7%97%D7%A8%D7%98+12,+%D7%91%D7%90%D7%A8+%D7%A9%D7%91%D7%A2%E2%80%AD/@31.2226944,34.8095789,17z/data=!3m1!4b1!4m2!3m1!1s0x15026629c9dc678d:0x7acf1fc3fb686a22"
          target="_blank"
        >
          <span class="glyphicon glyphicon-map-marker"></span>

          12 Hacharat Be'er Sheva</a
        >
        P.O.B 2262 Zip 84130
      </p>
      <p>
        <a href="tel:+972-8-6278947"
          ><span class="glyphicon glyphicon-earphone"></span> 08-6278947</a
        >
      </p>
      <p>Fax: <span>09-8997660</span></p>
      <p>
        <a href="mailto:ynonoz@gmail.com">
          <span class="glyphicon glyphicon-envelope"></span>
          ynonoz@gmail.com</a
        >
      </p>
      <p><a href="https://wa.me/972541234567" target="_blank">WhatsApp</a></p>
    </div>
  </section>
</body>
</html>
